.container{
    width: 500px;
    height: 500px;
    margin: auto;
    
}
.container h1{
    text-align: center;
}
#content{
    width: 80%;
    height: 80%;
    border: 1px solid #000;
    margin: auto;
}
.btn{
    margin-top: 20px;
    margin-left: 130px;
}
#submit{
    visibility: hidden;
}